- @totalGeral = 0
- if !@lancamentos.empty?
	%table{:cellpadding => "4",:cellspacing => "0"}
		%tr
			%th.centralizado Data
			%th.centralizado Entrada
			%th.centralizado Saida
			%th.centralizado Almoço
			%th.texto Descricao
			%th.numero Horas
			%th.numero Extras
			%th.numero Total
			%th{:colspan=>"3"}
		= render :partial => "lancamento", :collection => @lancamentos
		%tr{:class=>"footer"}
			%th.texto{:colspan=>"7"} Total Geral
			%th.numero= @totalGeral
			%th{:colspan=>"3"}
- else
	%div{:class=>"ui-state-highlight ui-corner-all",:style=>"margin-top: 20px; padding: 0 .7em;"}
		%p 
			%span{:class=>"ui-icon ui-icon-info",:style=>"float: left; margin-right: .3em;"}
			Não há lançamentos registrados.
%br
- if !@pago
	= link_to 'Novo lançamento', '/lancamentos/new/' + @year.to_s + '/' + @month.to_s
	- if !@lancamentos.empty?
		|
		= link_to 'Pagamento efetuado', '/lancamentos/pagamento/' + @year.to_s + '/' + @month.to_s
		|
- if !@lancamentos.empty?
	= link_to 'Exporta excell', '/lancamentos/' + @year.to_s + '/' + @month.to_s + '.xls'
