<% if !@lancamentos.empty? %>
<table cellpadding="4" cellspacing="0">
  <tr>
    <th class="centralizado">Data</th>
  	<th class="centralizado">Entrada</th>
    <th class="centralizado">Saida</th>
	<th class="centralizado">Almoço</th>
    <th class="texto">Descricao</th>
    <th class="numero">Horas</th>
    <th class="numero">Extras</th>
    <th class="numero">Total</th>
    <th colspan="3">&nbsp;</th>
  </tr>
<% @totalGeral = 0 %>
<% @lancamentos.each do |lancamento| %>
  <% @totalGeral += lancamento.total %>
  <tr class="<%= cycle("even", "odd") %>">
    <td class="centralizado"><%=h lancamento.data.strftime('%d/%m/%Y') %></td>
  	<td class="centralizado"><%=h lancamento.entrada.strftime('%H:%M') %></td>
    <td class="centralizado"><%=h lancamento.saida.strftime('%H:%M') %></td>
	<td class="centralizado"><%=h lancamento.almoco ? lancamento.horario_almoco_minutos : "-" %></td>
    <td class="texto"><%=h lancamento.descricao %></td>
    <td class="numero"><%=h lancamento.horas %></td>
    <td class="numero"><%=h lancamento.horas_extras || '-' %></td>
    <td class="numero"><%=h lancamento.total %></td>
	<% if !lancamento.pago %>
	<% @pago = false %>
    <td><%= link_to "<img class='icon' alt='Visualizar' src='" + image_path("view.png") + "' />", lancamento %></td>
    <td><%= link_to "<img class='icon' alt='Editar' src='" + image_path("edit.png") + "' />", edit_lancamento_path(lancamento) %></td>
    <td><%= link_to "<img class='icon' alt='Excluir' src='" + image_path("delete.png") + "' />", lancamento, :confirm => 'Deseja realmente excluir esse item?', :method => :delete %></td>
	<% else %>
	<% @pago = true %>
	<td colspan="3">&nbsp;</td>
	<% end %>
  </tr>
<% end %>
<tr class="footer">
	<th colspan="7" class="texto">Total Geral</th>
	<th class="numero"><%= @totalGeral%></th>
	<th colspan="3">&nbsp;</th>
</tr>
</table>
<%else%>
<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				Não há lançamentos registrados.</p>
			</div><%end%>
<br />
<% if !@pago %>
<%= link_to 'Novo lançamento', '/lancamentos/new/' + @year.to_s + '/' + @month.to_s %>
<% if !@lancamentos.empty? %>
|
<%= link_to 'Pagamento efetuado', '/lancamentos/pagamento/' + @year.to_s + '/' + @month.to_s %>
|
<% end %>
<% end %>
<% if !@lancamentos.empty? %>
<%= link_to 'Exporta excell', '/lancamentos/' + @year.to_s + '/' + @month.to_s + '.xls' %>
<% end %>

