<fieldset>
<legend>Principal</legend>
<p>
  <b>Data:</b>
  <%=h @lancamento.data.strftime('%d/%m/%Y') %>
</p>
<p>
  <b>Entrada:</b>
  <%=h @lancamento.entrada.strftime('%H:%M') %>
</p>

<p>
  <b>Saida:</b>
  <%=h @lancamento.saida.strftime('%H:%M') %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @lancamento.descricao %>
</p>
</fieldset>
<% if @lancamento.almoco %>
<fieldset>
<legend>
	Almoço
</legend>  	
</p>
<p>
  <b>Saida:</b>
  <%=h @lancamento.almoco_saida.strftime('%H:%M') %>
</p>
<p>
  <b>Volta:</b>
  <%=h @lancamento.almoco_volta.strftime('%H:%M') %>
</p>
</fieldset>
<% end %>
<fieldset>
<legend>Horas</legend>
<p>
  <b>Horas:</b>
  <%=h @lancamento.horas %>
</p>

<p>
  <b>Horas extras:</b>
  <%=h @lancamento.horas_extras || '-' %>
</p>
</fieldset>
<%= link_to 'Voltar', lancamentos_path %>
