!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{'http-equiv'=>"content-type",:content=>"text/html;charset=UTF-8"}
		%title Controle horas
		= stylesheet_link_tag 'scaffold', 'cupertino/jquery-ui-1.7.2.custom'
		= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'jquery.gradient', 'jquery.corner', 'jquery.blockUI', 'application'
	:javascript
		$(document).ready(function (){
			var meses = #{Date::MONTHNAMES[1..12]}

			$('#head').gradient({
				from:      'ffffff',
				to:        'EDEBEB',
				direction: 'horizontal'
			});
				$('#footer').gradient({
				from:      '0C4685',
				to:        '1478E3',
				direction: 'horizontal'
			});


			$("#content").corner("top");
			$("#menu").corner("bottom 5px");


			$("#arrowAno.up").click(function(){
				AddYear(1);

				var month = meses.indexOf($('#mes').html()) + 1;
				var year = $('#ano').html();

				LoadData(year,month);
			});
			$("#arrowAno.down").click(function(){
				AddYear(-1);

				var month = meses.indexOf($('#mes').html()) + 1;
				var year = $('#ano').html();

				LoadData(year,month);
			});

			$("#arrowMes.up").click(function(){
				var index = meses.indexOf($("#mes").html()) + 1;
				if(index >= meses.length)
				{
					index = 0;
					AddYear(1);
				}
				$("#mes").html(meses[index]);

				var month = index + 1;
				var year = $('#ano').html();

				LoadData(year,month);

			});
			$("#arrowMes.down").click(function(){
				var index = meses.indexOf($("#mes").html()) - 1;
				if(index < 0)
				{
					index = meses.length - 1;
					AddYear(-1);
				}
				$("#mes").html(meses[index]);

				var month = index + 1;
				var year = $('#ano').html();

				LoadData(year,month);
			});

			function AddYear(value)
			{
				$("#ano").html(parseInt($("#ano").html())+value);
			}

			function LoadData(year,month)
			{
				$.blockUI({ message: null }); 		
				$("#loader").show();
	
				$.get('/lancamentos/' + year + '/' + month, function(data) {
						$("#data").html(data);
					$("#loader").hide();
					$.unblockUI({ message: null }); 		
				});
			}
		});
	%body
		#wrapper
			#head
				#logo
					%h1 Controle horas
					#menu
						%ul
							%li
								%a{:href=>"/"} home
							%li.separator |
							%li
								%a{:href=>"/sessions/destroy"} logoff
			#content
				= render :partial => "month_picker" unless controller.action_name != 'index'
				%p{:style=>"color: green"}= flash[:notice]
				#data
					= yield
			#loader
				%img{:src=>"#{image_path('ajax-loader.gif')}"}
			#footer
