<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Controle horas</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'openid' %>
  <%= stylesheet_link_tag 'cupertino/jquery-ui-1.7.2.custom' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= javascript_include_tag 'jquery.gradient' %>
  <%= javascript_include_tag 'jquery.corner' %>
  <%= javascript_include_tag 'jquery.blockUI' %>
  <%= javascript_include_tag 'openid-jquery' %>
<script language="javascript">
$(document).ready(function (){
	var meses = <%= "['"+ Date::MONTHNAMES[1..12].join("','") +"']"%>
	
	$('#head_public').gradient({
		from:      'ffffff',
		to:        'EDEBEB',
		direction: 'horizontal'
	});
		$('#footer_public').gradient({
		from:      '0C4685',
		to:        '1478E3',
		direction: 'horizontal'
	});

	openid.init('openid_identifier');
});
</script>
</head>
<body>
	<div id="wrapper">
	<div id="head_public">
		<div id="logo"><h1>Controle horas</h1></div>
	</div>
	<div id="message">
		<p style="color: green"><%= flash[:notice] %></p>
	   <%= yield %>
	</div>
	</div>
		<div id="footer_public"></div>
</body>
</html>
