<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Controle de horas</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'openid' %>
  <%= stylesheet_link_tag 'cupertino/jquery-ui-1.7.2.custom' %>
  <%= javascript_include_tag 'jquery-1.3.2.min' %>
  <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min' %>
  <%= javascript_include_tag 'openid-jquery' %>
  <script type="text/javascript">
	$(document).ready(function() {
	    openid.init('openid_identifier');
	});
  </script>
</head>
<body>
   <div id="content">
	   <div id="header">
	   	<label>Controle de Horas</label>
	   	<div id="menu">
	   	<ul>
	   		<li>Home</li>
	   		<li>|</li>
	   		<li><%= link_to "Lançamentos", lancamentos_path %></li>
	   	</div>
	   </div>
	   <div id="line"></div>
	   <div id="sidebar"><div id="sidebar-content">
	   </div></div>
	   
	   <div id="main"><div id="main-content">
	   <p style="color: green"><%= flash[:notice] %></p>
	   <%= yield %>
	   </div></div>
	   
	   <hr class="cleaner" />
   </div>
</body>
</html>
